footer .footer-mailchimp {
    color: white;
    background-color: #b84d45;
    padding: 50px 0;
    background-image: url(/img/bg.png);
}

footer .footer-social {
    margin-top: 50px;
    margin-bottom: 0;
}

footer .footer-main {
    text-align: center;
    padding: 50px 0;
}

footer .footer-social ul.list-inline li.social-github a {
    background-color: #333333;
    transition: all 0.2s ease-in-out;
}

footer .footer-social ul.list-inline li a {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 100%;
    color: white;
}

footer .footer-social ul.list-inline li.social-twitter a {
    background-color: #1da1f2;
    transition: all 0.2s ease-in-out;
}

footer .footer-social ul.list-inline li a {
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 100%;
    color: white;
}

