#blogs{
    text-align: left;
    list-style-type: none;
}

#blogs .blog-post{
    margin: 10px 0px 40px 0px;
}

#blogs .blog-title{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}

#blogs .blog-content{
    margin-top: 0px;
    margin-bottom: 5px;
}

#blogs .date{
  font-size: 12px;
  color: #828282;
}