#blogs{
    text-align: left;
    list-style-type: none;
}

#blogs .blog-post{

}

#blogs .blog-title{
    font-size: 20px;
}

#blogs .content-iframe{
    overflow:hidden;
}

#blogs .content-iframe iframe{
    width: 100%;
    height: 600px;
}